* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image {
  width: 100%;
  height: auto;
}

a {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  font-style: italic;
  text-decoration: none;
  font-style: normal;
}

ol,
ul,
li {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  font-style: italic;
  text-decoration: none;
  list-style: none;
}

body {
  background: #8dc63f;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

._container {
  max-width: 960px;
  margin: 0 auto;
  background: #ffffff;
  padding: 25px 14px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.header__left {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__left span {
  display: block;
}

.header__left h1 {
  font-size: 22px;
  margin-bottom: 14px;
  color: #39930d;
}

.header__call {
  display: block;
  color: #39930d;
  font-size: 22px;
  font-style: normal;
  margin-bottom: 13px;
}

.header__sub {
  font-style: italic;
  font-size: 14px;
  color: #5a5a5a;
}

.header__big {
  font-size: 44px;
  font-weight: bold;
}

.header__image {
  max-width: 102px;
  height: auto;
  overflow: hidden;
}

.about {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about__left {
  max-width: 599px;
}

.about__left h2 {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: bold;
  color: #39930d;
}

.about__left p:not(:last-child) {
  margin-bottom: 20px;
}

.about__right h3 {
  background: #39930d;
  color: #fff;
  font-size: 18px;
  margin-bottom: 20px;
  padding: 15px 19px;
}

.about__list {
  padding-left: 19px;
}

.about__item:not(:first-child) {
  margin-top: 16px;
}

.about__item a {
  text-decoration: underline;
  text-transform: uppercase;
  color: #39930d;
}

.footer {
  background: #39930d;
  color: #fff;
}

@media (max-width: 886px) {
  .about {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}

@media (max-width: 610px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .header__item {
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }

  .header__image {
    margin-bottom: 15px;
  }
}