* {
  margin: 0;
}
html{
  font-size: 1px;
}
.image {
  width: 100%;
  min-height: 200rem;
}
.image img{
  min-height:200rem;
  object-position: 70% center;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
a {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  font-style: italic;
  text-decoration: none;
  font-style: normal;
}

ol,
ul,
li {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  font-style: italic;
  text-decoration: none;
  list-style: none;
}

body {
  background: #8dc63f;
  font-family: Arial, sans-serif;
}

._container {
  max-width: 960rem;
  margin: 0 auto;
  background: #ffffff;
  padding: 0 14rem;
}
.header {
  padding: 25rem 14rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.header__left {
  display: flex;
  align-items: center;
  gap: 30rem;
}

.header__left span {
  display: block;
}

.header__title  {
  font-size: 22rem;
  margin-bottom: 14rem;
  color: #39930d;
}

.header__call {
  display: block;
  color: #39930d;
  font-size: 22rem;
  font-style: normal;
  margin-bottom: 13rem;
}

.header__sub {
  font-style: italic;
  font-size: 14rem;
  color: #5a5a5a;
}

.header__big {
  font-size: 44rem;
  font-weight: bold;
}
.header__right{
  text-align: right;
}
.header__image {
  height: auto;
  overflow: hidden;
}


.about {
  padding: 25rem 0;
  padding-bottom: 44rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.about__left {
  flex: 1 1 auto;
}


.about__right{
  max-width: 300rem;
  flex: 0 0 100%;
}
.about__left p{
  font-size: 14rem;
  color: #343434;
  line-height: 1.5em;
}
h1.about__title {
  margin-bottom: 15rem;
  font-size: 24rem;
  font-weight: bold;
  color: #39930d;
}
.about__left p:not(:last-child) {
  margin-bottom: 10rem;
}

.about__name {
  background: #39930d;
  color: #fff;
  font-size: 18rem;
  margin-bottom: 20rem;
  padding: 10.5rem 19rem;
}

.about__list {
  padding-left: 19rem;
}

.about__item:not(:first-child) {
  margin-top: 16rem;
}

.about__item a {
  text-decoration: underline;
  text-transform: uppercase;
  color: #39930d;
  font-size: 14rem;
  transition: .3s all linear;
}
.about__item a:hover{
  text-decoration: none;
}
.footer {
  padding:14rem 14rem;
  background: #39930d;
  color: #fff;
  font-size: 14em;
}

@media screen and (max-width: 826px) {
  .about {
    flex-direction: column;
    gap: 30rem;
    flex-wrap: wrap;
  }
  .about__right{
    flex: 1 0 100%;
    max-width: 100%;
    width: 100%;
    flex-basis: 100%;
  }
}
@media screen and (min-width: 1400px) {
  html{
    font-size: 1.4px;
  }
  .header__image img{
    width: 7vw;
  }
}
@media screen and (max-width: 610px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .header__item {
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }

  .header__image {
    margin-bottom: 35rem;
  }
}