.about{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    &__left{
        & h2{
            margin-bottom: 15px;
            font-size: 24px;
            font-weight: bold;
            color: #39930d;
        }
        max-width: 599px;
        & p{
            &:not(:last-child){
                margin-bottom: 20px;
            }
        }
    }
    &__right{
        & h3{
            background: #39930d;
            color: #fff;
            font-size: 18px;
            margin-bottom: 20px;
            padding: 15px 19px;
        }
    }
    &__list{
        padding-left: 19px;
    }
    &__item{
        &:not(:first-child){
            margin-top: 16px;
        }
        & a{
            text-decoration: underline;
            text-transform: uppercase;
            color: #39930d;
        }
    }
}
@media (max-width:886px) {
    .about{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
}