.header{
    padding: 25px 14px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    &__left{
        display: flex;
        align-items: center;
        gap: 30px;
        & span{
            display: block;
        }
        & h1{
            font-size: 22px;
            margin-bottom: 14px;
            color: #39930d;
        }
    }
    &__call{
        display: block;
        color: #39930d;
        font-size: 22px;
        font-style: normal;
        margin-bottom: 13px;
    }
    &__sub{
        font-style: italic;
        font-size: 14px;
        color: #5a5a5a;
    }

    &__big{
        font-size: 44px;
        font-weight: bold;
    }
    &__image{
        max-width: 102px;
        height: auto;
        overflow: hidden;
    }
}
@media (max-width:610px) {
    .header{
        flex-direction: column;
        align-items: center;
        &__item{
            flex-direction: column;
            text-align: center;
        }
        &__image{
            margin-bottom: 15px;
        }
    }
}