@import './variables.scss';
@import './adaptiv-font.scss';
@import "./adaptiveValue.scss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.image{
    width: 100%;
    height: auto;
}
a{
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    font-style: italic;
    text-decoration: none;
    font-style: normal;
}
ol,ul,li{
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    font-style: italic;
    text-decoration: none;
    list-style: none;
}
body{
    background: $bodyColor;
    font-family: Arial, sans-serif;
    font-size: 14px;
}
._container{
    max-width: $maxWidthContainer +px;
    margin: 0 auto;
    background: #ffffff;
    padding: 25px 14px;
}
@import './header.scss';
@import "./about.scss";
@import "./footer.scss";